<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sns</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<div class="bg-body-tertiary p-3 p-sm-5 mb-4">
    <div class="container">
        <h1 class="display-4">
            {% block header %}
            {% endblock header %}
        </h1>
    </div>
    <a href="/logout/" class="btn btn-dark">ログアウト</a>
</div>

<div class="container">
    {% block content %}
    {% endblock content %}
</div>
</html>
