{% extends 'base.html' %}

{% block header %}
    Log in 画面
{% endblock header %}
{% block content %}
    <body>
    {{ context }}

    <main class="form-signin w-100 m-auto">
    <form action='' method='POST'>{% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please Log in</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
                <label for="floatingInput">username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
        </form>
    </main>
    </body>
{% endblock content %}
